
@brand: #3A75C4;
@brand-lt: #73a3f7;
@brand-dk: #004a93;
@brand2: #002649;

@primary: #69BEAB;
@primary2: #2C5173;
@secondary: #2D5578;

@valid: #8bc34a;
@valid-lt: #bef67a;
@valid-dk: #5a9216;

@warning: #FFEB3B;
@warning-lt: #FFF59D;
@warning-dk: #FBC02D;

@invalid: #FF9800;
@invalid-lt: #FFCC80;
@invalid-dk: #F57C00;

@failed: #f44336;
@failed-lt: #ff7961;
@failed-dk: #ba000d;

@paper: #FFF;
@ink: fade(#000, 80%);
@muted: fade(#000, 60%);
@btn-bd: fade(#000, 25%);
@btn-hover: fade(@primary, 25%);

@outerPaper: @primary;
@outerInk: contrast(@outerPaper, #FFF, fade(#000, 80%));

@default-line-height: (24 / 16);

@hunk: 96px;
@gap: 18px;
@gap2: 24px;  // Used on forms
@gap3: 36px;  // Above buttons

@bar-ht: 95px;
@big-gap: (291px - @bar-ht);
@bigger-gap: 348px;
@form-wd: 410px;
@form-ht: 450px;

@status-ht: 208px;
