
@brand: #3A75C4;
@brand-lt: #73a3f7;
@brand-dk: #004a93;
@brand2: #002649;

@ctl: #d81b60;
@ctl-lt: #ff5c8d;
@ctl-dk: #a00037;

@pass: #8bc34a;
@pass-lt: #bef67a;
@pass-dk: #5a9216;

@fail: #f44336;
@fail-lt: #ff7961;
@fail-dk: #ba000d;

@paper: #FFF;
@ink: fade(#000, 80%);


@default-line-height: (24 / 16);

@hunk: 96px;
@gap: 24px;
