@import (reference) '../styles/defs';


.ckr-CheckerApp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: auto;

  color: contrast(@primary, #FFF, @ink);
  background-color: @primary;
}
