@import (reference) '../styles/defs';

.ckr-ContactDetails {
  margin: @gap 0;

  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}


.ckr-Link {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    border-bottom: 1px solid;
  }
}
