@import (reference) '../styles/defs';

.ckr-ContactDetails {
  margin: @gap 0;

  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.ckr-CheckerApp-checking .ckr-ContactDetails {
  width: 222px;
  line-height: 42px;
  z-index: 1;

  background: linear-gradient(221.35deg, #40A097 0%, rgba(126,164,157,0.69) 100%);
  border: 1px solid #69BEAB;
  border-radius: 3px;
}


.ckr-Link {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    border-bottom: 1px solid;
  }
}
