@import (reference) '../styles/defs';


.ckr-Button {
  box-sizing: border-box;  // On some browsers this cannot be unset on buttons, so be consistent.
  display: inline-block;
  height: 2em;
  padding: 0 1em;

  font-size: 18px;
  text-decoration: none;
  line-height: 2;
  color: @ink;
  background-color: @paper;
  border: 1px solid @btn-bd;
  border-radius: 3px;
  // box-shadow: 0 1px 2px fade(#000, 50%), 1px 1px 3px fade(#000, 25%);
  user-select: none;
  cursor: pointer;

  &-primary {
    color: contrast(@primary, #FFF, @ink);
    background-color: @primary;
    border-color: @primary2;
  }

  &:hover,
  &:active {
    text-decoration: none;
    // box-shadow: 0 3px 4px fade(#000, 50%), 2px 2px 6px fade(#000, 25%);
  }

  &[disabled],
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;

    &:hover,
    &:active {
      text-decoration: none;
      box-shadow: none;
    }
  }
}

.ckr-Form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  padding: (@gap - 0.5 * @gap2) 0;
}

.ckr-FormItem {
  margin: (0.5 * @gap2) @gap;
  display: flex;
  // flex-flow: row wrap;
  flex-flow: row nowrap;
  align-items: center;

  label {
    margin-right: 1em;

    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    color: @muted;
  }

  select {
    .ckr-Button;

    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;

    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    color: @secondary;
  }

  option {
    color: @ink;
    background: @paper;
  }
}

.ckr-FormActionList {
  margin: (@gap3 - 0.5 * @gap2) @gap (@gap3 - (@gap - 0.5 * @gap2));
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.ckr-FormAction {
  .ckr-Button;
}
