@import (reference) '../styles/defs.less';

.ckr-ValidationResult {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &-loading {
    width: 400px;
    height: 400px;
    background-image: url(Progress_Animation.gif);
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  &-status {
    margin: @hunk 0 @gap;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    line-height: 2;

    &:before {
      display: block;
      width: 1em;

      font-size: 72px;
      text-align: center;
      line-height: 1;
      border-radius: 0.5em;
    }
  }

  &-okStatus:before {
    content: "\2705";
    background-color: @valid;
  }
  &-warningStatus:before {
    content: "\2705";
    background-color: @warning;
  }
  &-errorStatus:before {
    content: "\2715";
    background-color: @invalid;
  }
  &-fatalErrorStatus:before {
    content: "\2715";
    background-color: @failed;
  }

  &-detail {
    max-width: 30em;

    margin: 0 0 @gap;
  }

  &-loadingDetail {
    display: none;
  }
}


