@import (reference) '../styles/defs.less';

.ckr-ValidationResult {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  color: contrast(@brand, #FFF, @ink);
  background-color: fade(#30577A, 94%);

  &-loading {
    &:before {
      content: " ";
      margin-top: 240px;
      width: 240px;
      height: 240px;
      background-image: url(Progress_Animation.gif);
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: 300px 300px;
    }
  }

  &-status {
    margin: @hunk 0 @gap;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    font-size: 36px;
    font-weight: 100;
    line-height: fraction(44 / 36);

    &:before {
      content: " ";
      margin-bottom: 6px;
      display: block;
      width: 208px;
      height: 208px;
      background-size: 208x;
    }
  }

  &-okStatus:before,
  &-warningStatus:before {
    background-image: url(validation-result-ok.svg);
  }
  &-errorStatus:before,
  &-fatalErrorStatus:before {
    background-image: url(validation-result-error.svg);
  }

  &-detail {
    max-width: 30em;

    margin: 0 0 @gap;
  }

  &-loadingDetail {
    font-weight: 300;
    font-style: italic;
  }
}


