@import (reference) '../styles/defs';


.ckr-ValidationForm {
  width: @form-wd;

  &-file {
    margin: @gap;
    max-width: (@form-wd - 4 * @gap);
  }

  &-dropzone {
    width: 100%;
    height: 180px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: fade(@brand, 3%);
    box-shadow: inset @ink 1px 1px 5px;
    border-radius: 5px;
  }

  &-heading {
    margin-top: @gap;
    font-size: 1em;
    font-weight: 700;
  }
  &-btn {
    margin-top: @gap;
  }
  &-hint {
    margin-top: (0.5 * @gap);
    margin-bottom: @gap;
    font-size: 0.75em;
    color: @muted;
  }
}
